<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>店舗登録確認</title>
    <link rel="stylesheet" th:href="@{/css/mt-top.css}">
    <link rel="stylesheet" th:href="@{/css/regist.css}">
</head>
<body>
    <div class="container">
        <div class="card">
            <h1>登録内容確認</h1>
            <p class="subtitle">以下の内容で登録します</p>

            <table class="confirm-table">
                <tr>
                    <th>店舗名</th>
                    <td th:text="${shopRegistForm.restaurantName}"></td>
                </tr>
                <tr>
                    <th>キャッチフレーズ</th>
                    <td th:text="${shopRegistForm.catchPhrase}"></td>
                </tr>
            </table>

            <form th:action="@{/shop/regist/complete}" th:object="${shopRegistForm}" method="post">
                <input type="hidden" th:field="*{restaurantName}">
                <input type="hidden" th:field="*{catchPhrase}">
                <div class="button-group">
                    <button type="submit" formaction="/shop/regist" formmethod="get" class="menu-button secondary">もどる</button>
                    <button type="submit" class="menu-button">登録する</button>
                </div>
            </form>
        </div>
    </div>
</body>
</html>